<%- include('partials/headerlogin') %>
<div class="container mt-5">


<h2>Account Transactions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Username</th>
      <th scope="col">Description</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Transfer Method</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% payments.forEach((payment)=>{ %>
    <tr>
      <th scope="row"><%= payment.paydate %></th>
      <td><%= payment.username %></td>
      <td><%= payment.description %></td>
      <td><%= payment.firstname %></td>
      <td><%= payment.lastname %></td>
      <td><%= payment.paytype %></td>
      <td>R$ <%= payment.amount %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>
<%- include('partials/footer') %>
