<%- include('partials/headerlogin') %>


<div class="jumbotron text-center walletjumbo">
  <div class="container">


    <i class="fas fa-wallet fa-6x"></i>
    <p></p>
    <p class="pay-text">Wallet Fund: R$ <%= walletcash.toFixed(2) %></p>
    <hr>
  </div>
</div>

<div class="container mt-5">
  <h3>Received</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Card Owner</th>
        <th scope="col">Card Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Fee (3%)</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% debittransactions.forEach((transaction)=>{ %>
      <tr>
        <th scope="row"><%= transaction.paydate %></th>
        <td><%= transaction.description %></td>
        <td><%= transaction.cardholder %></td>
        <td>****<%= transaction.cardnumberfinal %></td>
        <td><%= transaction.amount.toFixed(2) %></td>
        <td><%= (transaction.amount * 0.03).toFixed(2) %></td>
        <td><%= (transaction.amount * 0.97).toFixed(2) %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <h3>To Receive</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Receive Date</th>
        <th scope="col">Description</th>
        <th scope="col">Card Owner</th>
        <th scope="col">Card Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Fee (5%)</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% credittransactions.forEach((transaction)=>{ %>
      <tr>
        <th scope="row"><%= transaction.paydate %></th>
        <td><%= transaction.receivedate %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.cardholder %></td>
        <td>****<%= transaction.cardnumberfinal %></td>
        <td><%= transaction.amount.toFixed(2) %></td>
        <td><%= (transaction.amount * 0.05).toFixed(2) %></td>
        <td><%= (transaction.amount * 0.95).toFixed(2) %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>
